services:
    ubuntu:
        public: true
        container_name: shakugan
        image: accetto/ubuntu-vnc-xfce:latest
        ports:
            - 6080:6080
        environment: 
            - VNC_PASSWD=AliAly032230
            - GEOMETRY=1280x768
            - TZ=Asia/Shanghai
            - DEPTH=24
        volumes: 
            - /root/Desktop
            - /home
        resources:
          cpu: 1000m
          memory: 3072Mi
          storage:
            size: 1Gi
            class: standard
